.header {
  background: #272537e0;
  border-bottom: 1px solid #272537eb;
  position: sticky;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  z-index: 2;
  top: 0;
}
