.item-cont {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  margin: 10px;
  transition: all 300ms ease-in-out;

  .vehicle-data {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgb(58, 58, 58) 0%,
      rgba(39, 37, 55, 0) 100%
    );
    color: white;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding-top: 20%;

    p {
      margin: 0;
      padding: 0px 10px 10px 10px;
    }
  }
}

.item-cont:hover {
  cursor: pointer;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.11);
}
